html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    background-color: Lightgray;
}
/*div {
    border: 1px solid chocolate;
} */
/* Navigation Section */

.top-navigation {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #838994;
    letter-spacing: 0.03em;
    -webkit-font-smoothing: antialiased;
}
.top-navigation > .content {
    width:970px;
    height:70px;
    margin: 0 auto;
}
.top-navigation a {
    text-decoration: none;
    color: #4c5058;
}
.top-navigation .links {
    float: right;
    font-family: 'Roboto', sans-serif;
    color: #838994;
    font-size: 1.04rem;
    margin-top: 1.7rem;
    -webkit-font-smoothing: antialiased;
}
.top-navigation .links li {
    display: inline-block;
    margin-left: 1.563rem;
}
.top-navigation .links .active {
    color: #4c5058;
    font-weight: 500;
}
.top-navigation .links li:hover {
    color: #333333;
    font-weight: 500;
    cursor:pointer;
}
.top-navigation a {
    text-decoration: none;
}
.logo {
    height:70px;
    margin-left:14px;
}
.introduction {
    background-image: url(../images/first-background.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height:31rem;
}
.introduction .content {
    text-align: center;
    color:white;
    font-family:'Robato', sans-serif;
    font-weight:300;
}
.introduction h1{
    margin-top:17.5rem;
    font-size:3.125rem;
    font-weight:300;
}
.introduction h3 {
    font-size: 1.563;
    font-weight:300;
    margin-top:1.25rem;
}
button {
    padding: 1rem 1.5rem;
    border-radius: 4px;
    background-color: #f15a29;
    color:white;
    width:10rem;
    border-style:none;
    font-size: 1.125rem;
    margin-top: 1.563;
}