html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    background-color: Lightgray;
    font-family:'Roboto',sans-serif;
}
/*div {
    border: 1px solid chocolate;
} */
/* Navigation Section */

.top-navigation {
    position:fixed;
    width: 100%;
    z-index: 9999;
    background-color: #fff;
    font-size: 16px;
    color: #838994;
    letter-spacing: 0.03em;
    -webkit-font-smoothing: antialiased;
}
.top-navigation > .content {
    height:70px;
}
.content {
    width:970px;
    margin: 0 auto;
    text-align: center;
    //font-weight:300;
}
.content h1,h2,h3{
    font-weight:300;
}
.cases {
    padding-top:1px;
    height:600px;
    background-color: #fff;
}
.cases .content h2 {
    font-size: 3rem;
    margin: 20px;
}
.cases .devices {
    margin: 0px auto;
    width: 33.33333%;
    display: inline-block;
    /* styles to assist with debugging */
    border: 1px solid black;
    box-sizing: border-box;
    height: 4em;
    display:flex;
}
.devices {
    display:flex;
    margin: 0px auto;
    text-align: center;
}
.devices img {
    height:150px;
}
.devices h3 {
    font-size:25px;
    font-weight:400;
}
.top-navigation a {
    text-decoration: none;
    color: #4c5058;
}
.top-navigation .links {
    float: right;
    //font-family: 'Roboto', sans-serif;
    color: #838994;
    font-size: 1.04rem;
    margin-top: 1.7rem;
    -webkit-font-smoothing: antialiased;
}
.top-navigation .links li {
    display: inline-block;
    margin-left: 1.563rem;
}
.top-navigation .links .active {
    color: #4c5058;
    font-weight: 500;
}
.top-navigation .links li:hover {
    color: #333333;
    font-weight: 500;
    cursor:pointer;
}
.top-navigation a {
    text-decoration: none;
}
.logo {
    height:70px;
    margin-left:14px;
}
.introduction {
    background-image: url(../images/first-background.jpg);
    background-position: 0;
    background-repeat: no-repeat;
    background-size: cover;
    height:37rem;
    overflow: auto;
}
.introduction .content {
    color:white;
    //font-weight:300;
}

.introduction h1{
    margin-top:17.5rem;
    margin-bottom:0px;
    font-size:3.125rem;
    //font-weight:300;
}
.introduction h3 {
    margin-top:1.25rem;
    font-size: 1.5625;
    //font-weight:300;
    margin-top:1.25rem;
}
button {
    padding: 1rem 1.5rem;
    border-radius: 4px;
    background-color: #f15a29;
    color:white;
    width:10rem;
    border-style:none;
    font-size: 1.125rem;
    margin-top: 1.563;
    text-shadow: none;
}
button:hover {
    background-color:#d9400e;
    cursor:pointer;
}